@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './reset.css';
@import './components/Modal/Modal.css';
@import '/src/components/Combobox/Combobox.css';
@import '/src/pages/Admin/Admin.css';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://cdn.akamai.steamstatic.com/store/promo/summer2023/Steam_Summer_Sale_pattern-04-day_lighter.gif?v=2);
  min-height: 100vh;
  color: white;
}
.container{
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 4em;
}
.submit-btn{
  height: max-content;
  background: #23242a;
  padding: 0.6em;
  border-radius: 1em;
  -webkit-tap-highlight-color: transparent;
  transition: background .3s;
}
.submit-btn:hover{
  background: #4d4e5785;
  
  font-weight: 600;
  color: rgba(62, 107, 255, 0.986);
}