.search-input {
    background-color:rgb(30, 48, 102);
    border: none;
    padding: 10px;
    min-width: 30%;
    margin-right: 30px;
    color: white;
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.397);
}
.filter-form {
    padding: 0px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 30px;
    margin-bottom: 25px;
}
@media (max-width: 767px) {
    .filter-form {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
}